header,
nav,
footer {
    background-color: black;
    /* black background */
    color: white;
    /* white text */
    text-align: center;
    /* center text */
    width: 100%;
    /* ensures stretches acreoss the screen */
}

nav a {
    color: gold;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    background-color: #000000;
    /* black background */
    background-image: url("https://transparenttextures.com/patterns/tileable-wood.png");
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* different fonts */
    margin: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact-form {
    background: black;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px aqua;
    width: 400px;
    text-decoration: underline;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid gold;
}

.contact-form input[type="color"],
.contact-form input[type="range"] {
    padding: 2px;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.btn-glow {
    background: purple;
    color: white;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.btn-glow:hover {
    box-shadow: 0 0 10px aqua;
}

.inline-options {
    display: flex;
    gap: 10px;
}

.introBox {
    border: 2px solid aqua;
    padding: 20px; 
    margin: 20px auto;
    width: 70%;
    text-align: left;
    background-color: black;
    color: aqua;
    border-radius: 8 px;
}

/* Results table container */
#resultContainer {
max-width: 700px;
margin-top: 30px;
background: rgb(0, 0, 0);
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px aqua;
width: 80%;
}

/* Table styling */
#resultTable {
width: 100%;
border-collapse: collapse;
}

#resultTable th, #resultTable td {
border: 1px solid aqua;
padding: 10px;
text-align: left;
}

#resultTable th {
background-color: rgb(0, 0, 0);
color: aqua;
}

#resultTable td {
    background-color: rgb(0, 0, 0);
    color: aqua;
}